/* Register css */
.mainContainer {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}


/* Login css */
.mainContainer {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}